body {
    background-image: url("bg2.jpg");
    background-repeat: no-repeat;
    background-color: #e9ebee;
}

.center {
  text-align: center;
}

.error {
  color: red;
}

.success {
  color: green;
}

.left {
  text-align: left;
}

div.panelbox {
  background-color: rgba(255, 255, 255, 0.9);
  border: solid gray 1px;
}

div.transbox p {
  font-family: Arial,sans-serif;
  font-weight: 700;
  line-height: 22px;
  color: #e2e2e2;;
  font-size: 16px;
}

div.transbox h2 {
  color: #e9ebee;
  font-family: Arial, sans-serif;
  font-weight: 700;
  color: white;
}

div.transbox {
  background-color: rgba(34, 34, 34, 0.7);
  border: solid gray 0.5px;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
}

.navbar-nav > li > a, .navbar-brand {
    padding-top:40px !important;
    padding-bottom:0 !important;
    height: 100px;
    font-size: 25px;
}

.navbar {
  min-height:100px !important;
}

#logo {
  float: left;
}

.login h3 {
  text-align: center;
}

.register h3 {
  text-align: center;
}

.bottomtext {
  margin-top: 25px;
}
